@reset-global pc

.page-wrap
    max-width 100%
    box vertical
    position relative
    background url('../img/page-bg.jpg')
    background-size cover
    font-family 'Roboto', Helvetica, sans-serif
    font-size 14px
    height 100vh
    +above(1700px)
       background url('../img/kerner-bg@2x.jpg')
       background-size 100%
